<h1>Products</h1>
<%= link_to "New", "/products/new" %>


<% @products.each do |product| %>
  <p><%= product.name %>, <%= product.description %>, <%= product.formatted_price %> </p>

<%= link_to("Modify", product_path(product) ) %>

<% end %>


